.container {
    background-color: whitesmoke;
    padding: 50px 0px;
    margin-top: 50px ;
    margin-bottom: 50px;
}

.desc{
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.desc h2 {
    font-weight: 900;
    font-size: 45px;
    line-height: 60px;
    color: #054F7E;
}

.desc p{
    font-size: 18px;
    font-weight: 500;
    color: #303e4b;
}

.imageWrapper {
    width: 100%;
    margin-bottom: 1rem;
  }

@media (max-width:600px){
    .container{
        padding: 20px 20px;
        /* overflow: hidden; */
    }

    .desc h2{
        font-size: 30px;
        font-weight: 700;
        line-height: 30px;
    }

    .imageWrapper {
        width: 100%;
      }
}