.container {
    background-color: whitesmoke;
    padding: 100px 100px;
    margin-top: 50px ;
    margin-bottom: 50px;
}

.img_section {
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* flex: 0 0 50%; */
}

.imageWrapper {
    width: 100%;
    margin-bottom: 1rem;
  }

@media (max-width:600px){
    .container{
        padding: 20px 20px;
        /* overflow: hidden; */
    }

    .imageWrapper {
        width: 100%;
      }
}