.container {
    background-color: whitesmoke;
    padding: 100px 100px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.img_section {
    gap: 20px;
    /* width: 100%; */
    /* background-size: cover; */
    /* background-position: center; */
    overflow: hidden;
}