.carouselContainer {
    width: 100%;
    /* max-width: 1280px; */
    /* max-width: 700px; */
    margin: 50px auto;
    padding-top: 30px;
    overflow: hidden;
    text-align: center;
    background-color: whitesmoke;
    box-shadow: 0px 0px 16px whitesmoke;
  }
  
  .carousel {
    display: flex;
    /* text-align: center; */
    transition: transform 0.8s ease;
  }
  
  .slide {
    flex: 0 0 100%;
    width: 100%;
    padding: 20px 20px;

    /* background-color:  #07639c; */
    /* background-color: whitesmoke; */
    /* color: white; */
    /* box-shadow: 6px 8px 6px #204860; */

  }

  
  .slide img {
    width: 10%;
    height: auto;
    border-radius: 50%;
  }
  
  .dotsContainer {
    display: flex;
    justify-content: center;

  }
  
  .dot {
    width: 10px;
    height: 10px;
    border-radius: 20%;
    /* background-color: rgb(70, 62, 62); */
    background-color: orange;
    margin: 20px 5px;
    cursor: pointer;
    transition-property: all;
    transition-duration: 500ms;
    transition-delay: 500ms;
  }
  
  .dot:hover {
    width: 30px;
    height: 10px;
    /* transform: scaleX(2); */
    border-radius: 20%;
    background-color: orange;
    color: orange;
  }
  

  @media (max-width:600px){
    .carouselContainer{
      margin: auto;
      padding: 20px;
      flex-basis: 100%;
      /* width: 100%; */
    }
  }