.scrolled{
    position: sticky;
    top: 0;
    background-color: #f48020;
    box-shadow: 0 0 8px #f48020;

    z-index: 1;
}

.withoutScrolled{
    background-color: white;
    z-index: 1;
}


.navLink{
    margin-left: auto;
}

.navbarListUl{
    
    display: flex;

    margin  : auto;
    align-items: center;
    gap: 20px;
}

.navbarListUl a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: #000;
    transition: color 0.6sec ease;
}

.navbarListUl a:visited {
    color: #011d2e;
}

.scrolled .navbarListUl a {
    color: white;
}

@media (max-width:1000px){
    .navbarListUl{
        display: flex;
        flex-direction: column;
    }
}

@media(max-width:1200px){

    .navbarListUl a {
        text-decoration: none;
        font-size: 15px;
        font-weight: 600;
        color: #054F7E;
    }
}


.navbarListUl li {
    position: relative;
}

.navbarListUl li a::before {
    content: "";
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #b3005a;
    transform: scaleX(0);
    transition: transform 0.4s ease-in-out;
    transform-origin: left;
  }
  
  .navbarListUl li a:hover::before {
    transform: scaleX(1);
  }
  
  .navbarListUl li a:hover {
    text-decoration: none;
  }





/* .navbarListReact_boot{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
} */


/* .navbarListReact_boot a {
    font-size: 18px;
    font-weight: 600;
    color: #054F7E;
} */

