
.card {
    background-color: #f5f5f5;
}

.heading {
    display: flex;
    padding: 20px;
    gap: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.heading h5 {
    
    color: #054F7E;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;   
}


.paragraph {
    padding: 20px 0px;
}